<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:m="http://www.seasar.org/maya">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-31j" />
<link m:inject="s:link" rel="stylesheet" type="text/css" href="/css/global.css"/>
<title m:value="#{layoutTitle}"/>
</head>
<body>
<table border="0" cellspacing="5">
<tr>
  <td colspan="2"><span m:inject="s:insert" m:src="/WEB-INF/layout/header.html"/></td>
</tr>
<tr>
  <td width="140" valign="top">
    <span m:inject="s:insert" m:src="/WEB-INF/layout/menu.html"/>
  </td>
  <td valign="top" align="left">
    <span m:inject="s:insert" m:name="body"/>
  </td>
</tr>
<tr>
  <td colspan="2">
    <hr/>
  </td>
</tr>
<tr>
  <td colspan="2">
    <span m:inject="s:insert" m:src="/WEB-INF/layout/footer.html"/>
  </td>
</tr>
</table>
</body>
</html>