<html xmlns:m="http://www.seasar.org/maya">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-31j" />
<title>S2JSFExample</title>
</head>
<body>
<span m:inject="s:insert">
<form>
<ul>
<li>
<a m:action="hello">Hello</a>
</li>
<li>
<a m:action="helloWithLayout">Hello With layout
  <span m:inject="f:param" m:name="message" m:value="World"/>
</a>
</li>
<li>
<a m:action="add">Add</a>
</li>
<li>
<a m:action="forEachList">ForEach</a>
</li>
<li>
<a m:action="forEach2List">ForEach2</a>
</li>
<li>
<a m:action="forEach3List">ForEach3</a>
</li>
<li>
<a m:action="converter">Converter</a>
</li>
<li>
<a m:action="validator">Validator</a>
</li>
<li>
<a m:action="validator2">Validator ON/OFF</a>
</li>
<li>
<a m:action="checkbox">Checkbox</a>
</li>
<li>
<a m:action="selectOneMenu">SelectOneMenu</a>
</li>
<li>
<a m:action="selectManyCheckbox">SelectManyCheckbox</a>
</li>
<li>
<a m:action="selectManyListbox">SelectManyListbox</a>
</li>
<li>
<a m:action="selectOneRadio">SelectOneRadio</a>
</li>
<li>
<a m:action="inputTextarea">InputTextarea</a>
</li>
<li>
<a m:action="inputSecret">InputSecret</a>
</li>
<li>
<a m:action="pageTran1">The page transition with exception</a>
</li>
<li>
<a m:action="postback">Postback</a>
</li>
<li>
<a m:action="rendered">Rendered</a>
</li>
<li>
<a m:action="employeeSearch">Employee Management</a>
</li>
</ul>
</form>
</span>
</body>
</html>